<html>
<head>
<style></style>
</head>
<body style="font-family: Verdana, sans-serif; font-size: 0.8em; color:#484848;">
<div>
        <b>Project:</b> <%= link_to @project.name, project_url(@project) %><br />
        <b>Revision:</b> <%= link_to @changeset.revision, @changeset_url %> <br />
        <b>Author:</b> <%= h(@author) %> <br />
        <b>Summary:</b> <%= @changeset.short_comments %> <br />
        <b>Details:</b> <%= @changeset.long_comments %> <br /><br />

        Please take a moment to review this checkin.<br /><br />
</div>
<hr />
<%= format_diff @diff %>
<span class="footer"><%= Redmine::WikiFormatting.to_html(Setting.text_formatting, Setting.emails_footer) %></span>
</body>
</html>

